#header {
  background-image: url('../images/pattern.jpeg');
}
#brushes h2 {
  background-color: mediumspringgreen;
}
#frames h2 {
  background-color: lightcoral;
}
#paint h2 {
  background-color: skyblue;
}
h1, h2 {
  font-family: Helvetica;
  font-weight: bold;
}
h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}
h2 {
  font-size: 32px;
  color: white;
}
.pricing {
  font-famly: Helvetica;
  font-weight: bold;
  color: blue;
}
